@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  color: #e7eae0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191a1b;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  padding: 30px;
  width: 500px;
  height: 115px;
  text-align: center;
}

.top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid grey;
  height: 20px;
}

.timer {
  font-size: 15px;
}

.progressbar-area {
  display: flex;
  flex-direction: column;
}

.progressbar {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #7e7e7e;
}

.progressbar-main {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.progressbar-result {
  display: flex;
  flex-direction: column;
}

.progressbar-road {
  margin-top: -15px;
  color: #000000;
}

.player-name {
  height: 10px;
  width: 10px;
  line-height: 10px;
  font-size: 9px;
  text-align: center;
  border: 1px solid #7e7e7e;
}

.current-player {
  border-color: green;
}

.paragraph-area {
  user-select: none;
}

.right {
  color: #79a617;
}

.wrong {
  background-color: #cb5656;
}

.underline {
  text-decoration: underline;
}

.text-input {
  border: none;
  outline: none;
  padding: 5px;
  background-color: inherit;
  border-bottom: 2px solid #595959;
}

.text-input:focus {
  border-color: #bebebe;
}

.join-btn {
  color: #000000;
  padding: 5px;
}
